emacs/url/cache
emacs/.emacs.desktop
emacs/auto-save-list
emacs/.session
*.elc
CVS
.svn
*~
.cvsignore
.*.lock
emacs/tramp
emacs/TODO
emacs/anything-c-adaptive-history
emacs/.org-id-locations
emacscookies
emacs/newsticker
emacs/ac-comphist.dat
\#*
emacs/elpa
emacs/site-lisp/package/
emacs/swank
emacs/.mc-lists.el
emacs/var
emacs/.sqli_history
emacs/frame-restore-parameters
emacs/.achievements
emacs/.bookmarks.el
emacs/history
emacs/helm-adaptive-history
emacs/thumbs/
emacs/emms/
emacs/.smex-items
emacs/image-dired/
emacs/eshell
emacs/.cask/
emacs/.sx/
emacs/org-clock-save.el
emacs/ditaa*.jar
